.bg-primary {
    background-color: #103246 !important;
}

.bg-secondary{
    background-color: #EEEAF4 !important;
}

.bg-info{
    background-color: #2292D4 !important;
}

.btn-primary{
    background-color: #2292D4 !important;
}

.color-primary{
    color: #2292D4;
}

.color-secondary{
    color: #103246;
}

.color-quinary{
    color: #68696E;
}

.p-2rem{
    padding: 2rem;
}

.m-header{
    margin-top: 66px;
}

.custom-scrollbar{
    scrollbar-width: thin;
    scrollbar-color: #2292D4 #FFFFFF;
}
